<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="header"
     class="d-flex align-items-center justify-content-between px-4 py-3">

    <div class="d-flex align-items-center gap-3">
        <!-- TODO: Thay file nay bang anh that cua ban:
             src/main/resources/static/images/avatar.jpg -->
        <img th:src="@{/images/avatar.jpg}"
             alt="Avatar"
             class="rounded-circle border border-2 border-light"
             width="56" height="56" />
        <div>
            <h4 class="text-white m-0">Quan ly Category</h4>
            <small class="text-white-50">Spring Boot + Thymeleaf + Thymeleaf Layout Dialect</small>
        </div>
    </div>

    <a th:href="@{/admin/categories/add}" class="btn btn-light btn-sm">
        <i class="fa fa-plus"></i> Them Category
    </a>
</div>
</body>
</html>
